

<htm>
    <head>
        <title>HIT PREDICT</title>
    </head>
    <body>
        <div >
        <h1><span style='font-family: Helvetica, Arial, sans-serif;';>HIT PREDICTOR</span></h1>
        
        <form action='#' method='post'> 
            <p><span style='font-family: Helvetica, Arial, sans-serif;';>Based on the music analysis data provided by the Spotify API we created a model evaluating<br /> if a song meets the musical features characterizing the the spotify streaming charts from 2018 to now in 35 countries </span></p>
            <h4><span style='font-family: Helvetica, Arial, sans-serif;';>Paste Spotify album URL and get evaluation:</span></h4>
            <p>><input type='text' name='input'/></p>
            
            <p>><input type='submit' value='submit'/></p>
        </form>
        </div>
    </body>

</htm>


